.meal .tag {
    background-color: #fff;
}

.mealContent {
    display: flex;
    flex-direction: column;
    gap: 30px;
    /* padding: 20px;
    background-color: #fff;
    border-radius: 12px; */
}

.mealTitle {
    font-size: 40px;
}

.mealHead {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mealHead__left,
.mealHead__right {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.mealDetail {
    display: flex;
    gap: 40px;
}

.mealDetail__image {
    width: 50%;
}

.mealDetail img {
    border-radius: 14px;
    width: 100%;
}

.mealInfo {
    width: 100%;
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    gap: 24px;
    background-color: #fff;
    border-radius: 16px;
    padding: 20px;
}

.mealInfo__head,
.mealInfo__source {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.mealListBlock {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.mealListTitle {
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
}

.mealList {
    width: 100%;
}


.mealListItem {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}

.mealList li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
}