ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

li {
    padding: 32px;
    border-radius: 20px;
    background-color: #fff;
}

.meal {
    display: flex;
    gap: 20px;
    padding: 20px;
}

.mealImageContainer img {
    width: 200px;
    border-radius: 12px;
}

.mealContent {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.mealContent .textLink {
    margin-top: auto;
}

.mealName {
    font-size: 32px;
    line-height: 40px;
}

.meal a {
    cursor: pointer;
    font-size: 16px;
    line-height: 24px;
    transition: all .3s ease;
    margin-top: auto;
}

.meal a:hover {
    color: #8e8a85;
}