html {
    background-color: #CCC6BE;
}

body {
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
}

.main {
    height: calc(100vh - 88px);
    border: none;
}

.textLink {
    cursor: pointer;
    font-size: 16px;
    line-height: 24px;
    transition: all .3s ease;
}

.textLink:hover {
    color: #8e8a85;
}

.textLink--mtAuto {
    margin-top: auto;
}